# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/

# IDEs
.vscode/
.idea/

# Environment Variables
.env

# OS
.DS_Store
Thumbs.db

# Distribution
dist/
build/
*.egg-info/
